.detailsSection {
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  padding-top: 152px;
  padding-bottom: 104px;
  margin: 0 auto;
  display: flex;
  gap: 72px;
  align-items: flex-start;
}

.image {
  max-width: 640px;
  width: 100%;
  border-radius: 19px;
  margin-bottom: 40px;
}

.detailsWrap {
  flex: 1;
  min-width: 488px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

/* fs is smaller so that the id can fit the row */
.carId {
  font-size: 14px;
  font-weight: 500;
  color: #8d929a;
  margin-bottom: 8px;
}

.subInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 500;
  line-height: 1.25;
  font-size: 16px;
  color: #101828;
  margin-bottom: 16px;
  gap: 6px;
}

.mileage {
  font-weight: 500;
  line-height: 1.25;
  font-size: 16px;
  color: #101828;
  margin-left: 16px;
}

.subInfo svg {
  width: 16px;
  height: 16px;
  fill: #101828;
  margin-right: 4px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-bottom: 32px;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 68px;
}

.blockTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}

.conditionsList,
.specList,
.featuresList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conditionsList li,
.specList li,
.featuresList li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.conditionsList li:last-child,
.specList li:last-child {
  margin-bottom: 110px;
}

.featuresList li:last-child {
  margin-bottom: 0;
}

.conditionsList svg,
.specList svg,
.featuresList svg {
  width: 18px;
  height: 18px;
  fill: #101828;
  margin-right: 8px;
}

.loaderWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
}

.formWrap {
  padding: 32px;
  background-color: #fff;
  border: 1px solid #dadde1;
  border-radius: 14px;
  max-width: 640px;
  width: 100%;
}

.formTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #101828;
}

.formSubtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #8d929a;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input,
.textarea {
  padding: 14px 20px;
  border-radius: 12px;
  border: none;
  background-color: #f7f7f7;
  font-size: 16px;
  color: #101828;
  line-height: 1.25;
  font-weight: 500;
  resize: none;
}

.inpit::placeholder,
.textarea::placeholder {
  color: #8d929a;
}

.textarea {
  min-height: 88px;
}

.button {
  margin: 24px auto 0px;
  height: 44px;
  max-width: 156px;
  background-color: #3470ff;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  padding: 12px 58px;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0b44cd;
}
